body {
    font-family: Sans-Serif;
    display: block;
    max-width: 1200px;
    margin: auto;
}

#logo {
    margin-top: 60px;
    margin-bottom: 40px;
}

.high{
    width: 200px;
    margin: auto;
}

.center:hover {
    background-color: yellow;
    font-weight: bold;
}

#title {
    font-weight: normal;
}

#pg {
    display: flex;
    align-items: flex-start;
}

.container {
    display: flex;
    max-width: 1100px;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-content: flex-start;
}

.center {
    width: max-content;
    margin: auto auto 40px auto;
    padding: 10px 10px 0 10px;
    cursor: pointer;
    align-items: top;
    display: flex;
    flex-direction: column;
    height: max-content;
    height: 400px;
} 

.name {
    text-align: left;
}

.border {
    border: 3px solid black;
    margin: auto;
    width: 300px;
}

#image {
    border: 3px solid black;
    margin: auto;
    width: 650px;
}

.price {
    margin-top: -10px;
}

#yellow{
    border: 3px solid black;
    background-color: yellow;
    padding: 5px 15px;
}

.drop {
    margin-top: 30px;
    margin-bottom: 30px; 
}

.cartG {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.bottom {
    margin-top: 20px;
}

#checkout {
    padding: 10px;
}

#bLine {
    border: none;
    height: 3px;
    width: 40%;
}

.closer {
    line-height: 1.5;
}

.select {
    width: 200px;
    border: 2px solid black;
}

.down {
    margin-bottom: 5px;
}

#pad {
    text-align: left;
    margin: 0 38px 22px 38px;
    padding: 30px 0 30px 0;
}

#outside {
    display: flex;
}

#lineBox {
    margin-top: 30px;
    margin-bottom: 30px;
}

#next {
    display: inline;
    padding: 5px 21px;
}

#space {
    margin-top: 30px;
}

/* hr {
    background-color: black;
    flex: 1 0 auto;
} */

.link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 65px;
    margin-bottom: 15px;
    margin-top: 20px;
}

#line {
    border-bottom: 5px solid black;
}

header {
    width: 1200px;
    height: 250px;
    text-align: center;
    display: flex;
    margin-bottom: 80px;
}


#right {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

#left {
    text-align: left;
    margin: 0 38px 22px 38px;
    padding: 20px 0 20px 0;
}

#main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

#child {
    display: inline-block; 
    text-align: left;
}

p {
    color: black;
    font-size: 24px;
}

#underline {
    font-size: 12px;
    text-decoration: underline;
    color: black;
    margin-top: -15px;
}

#underL {
    font-size: 12px;
    text-decoration: underline;
    color: black;
    margin-top: 10px;
}

a:visited {  
    color: black;  
}

#last {
    display: flex;
    margin-top: 100px;
}

#des {
    margin-bottom: 60px;
    font-size: 30px;
}


h1 {
    font-weight: 300;
    font-size: 30px;
}