body {
    font-family: Sans-Serif;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

#logo {
    margin-top: 60px;
    margin-bottom: 40px;
}

.high{
    width: 200px;
    margin: auto;
}

.center:hover {
    background-color: yellow;
    font-weight: bold;
}

#title {
    font-weight: normal;
}

#pg {
    display: flex;
    align-items: flex-start;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}

.center {
    width: fit-content;
    margin: auto;
    padding: 5px;
    margin-bottom: 40px;
    cursor: pointer;
} 

.name {
    margin-top: -10px;
    margin-bottom: -20px;
    text-align: left;
}

.border {
    border: 3px solid black;
    margin: 0px auto 0px auto;
    width: 300px;

}
.price {
    margin-top: -10px;
}

#yellow{
    border: 3px solid black;
    background-color: yellow;
    padding: 5px 15px;
}

.drop {
    margin-top: 30px;
    margin-bottom: 30px; 
}

.cartG {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.bottom {
    margin-top: 20px;
}

#checkout {
    padding: 10px;
}

#bLine {
    border: none;
    height: 3px;
    width: 40%;
}

.closer {
    line-height: 1.5;
}

.select {
    width: 200px;
    border: 2px solid black;
}

.down {
    margin-bottom: 5px;
}

#pad {
    padding-top: 30px;
}

#lineBox {
    margin-top: 30px;
    margin-bottom: 30px;
}

#next {
    display: inline;
    padding: 5px 21px;
}

#space {
    margin-top: 30px;
}

/* hr {
    background-color: black;
    flex: 1 0 auto;
} */

.link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 65px;
    margin-bottom: 15px;
    margin-top: 20px;
}

#line {
    border-bottom: 5px solid black;
}

header {
    width: 1200px;
    height: 250px;
    text-align: center;
    display: flex;
    margin-bottom: 80px;
}


#right {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

#left {
    text-align: left;
    margin: 0 38px 22px 38px;
    padding: 20px 0 20px 0;
}

#main {
    text-align: center;
}

#child {
    display: inline-block; 
    text-align: left;
}

p {
    color: black;
}

#underline {
    font-size: 12px;
    text-decoration: underline;
    color: black;
    margin-top: -15px;
}

#underL {
    font-size: 12px;
    text-decoration: underline;
    color: black;
    margin-top: 10px;
}

a:visited {  
    color: black;  
}


h1 {
    font-weight: 300;
    font-size: 34px;
}